/* src/index.css */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* This controls the absolute global canvas (the browser window itself) */
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  /* Deep Dark Bottle Green */
  background-color: #012a1c; 
  color: #e0e0e0;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}